# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env2/
.env2/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# PipFiles
Pipfile
Pipfile.lock